<app-navbar></app-navbar>
<div class="p-grid">
  <div class="p-col-2"></div>
  <div class="p-col main-container">
    <br><br>
    <router-outlet></router-outlet>
  </div>
  <div class="p-col-2"></div>
</div>
<!-- <div class="container-fluid main-container">
  <div class="row pad-container">
    <div class="col-2"></div>
    <div class="col justify-content-md-center" style="background-color: cadetblue;">
      <router-outlet></router-outlet>
    </div>
    <div class="col-2"></div>
  </div>
</div> -->
<app-footer></app-footer>
<!-- <div class="container-fluid d-flex flex-row vh-100" style="background-color: lightgray;padding: 0;">
  <div class="col-sm" class="sdbox">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col">
    <div class="row">
      <app-navbar></app-navbar>
    </div>
    <div class="row">
      <router-outlet></router-outlet>
    </div>
    <div class="row">
      <app-footer></app-footer>
    </div>
  </div>
</div> -->


<!-- <mat-drawer-container class="main">
  <mat-drawer class="sdbox" mode="side" opened>
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <mat-drawer-content>
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-drawer-content>
</mat-drawer-container> -->