<nav class="navbar navbar-dark fixed-top bg-primary flex-md-nowrap p-0 shadow">
    <a class="navbar-brand d-flex col-sm-3 col-md-1 mr-2 img-logo" href="#">
        <img src="assets/logo.svg" width="50" height="50" class="d-inline-block align-top" alt="">
        BreShow
    </a>

    <div class="col itens-nav">
        <div *ngFor="let router of routers; index as i;">
            <div style="padding-left: 10px;">
                <button mat-button class="button-nav" routerLink={{router.Id}}>{{ router.Description}}</button>
            </div>
        </div>
    </div>

    <div class="navbar-nav px-3">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon style="color: white;">person</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon>login</mat-icon>
            <span>Login</span>
        </button>
        <button mat-menu-item>
            <mat-icon>logout</mat-icon>
            <span>logout</span>
        </button>
        </mat-menu>
    </div>
</nav>